<footer class="footer">
  <small>
    <%= link_to t(".rt_home_page_text"), Settings.links.rails_tutorial.home_page%>
    -
    <%= link_to t(".author"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path(locale) %></li>
      <li><%= link_to t(".contact"), contact_path(locale) %></li>
      <li><%= link_to t(".news"), Settings.links.rails_tutorial.news_page %></li>
    </ul>
  </nav>
</footer>
