<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to t(".title"), root_path, class: "navbar-brand", id: "logo" %>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <ul class="navbar-nav ml-auto my-2 my-lg-0 mr-3">
      <li class="nav-item"><%= link_to t(".help"), help_path(locale) , class: "nav-link"%></li>
      <li class="nav-item"><%= link_to t(".login"), "#", class: "nav-link" %></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ".languages" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t(".english"), {locale: "en"}, class: "dropdown-item" %>
          <%= link_to t(".vietnamese"), {locale: "vi"}, class: "dropdown-item" %>
        </div>
      </li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to t(".users"), "#", class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > <%= t ".account" %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to t(".profile"), user_path(locale, current_user), class: "dropdown-item" %></li>
            <li><%= link_to t(".settings"), "#", class: "dropdown-item" %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t(".logout"), logout_path, method: :delete, class: "dropdown-item" %> </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to t(".login"), login_path(locale), class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
